<head>
  <title>Node Upload Server</title>
</head>
<body>
  <form enctype="multipart/form-data" method="post" action="?redirect=1">
    <input id="file" name="file" type="file">
    <input type="submit">
  </form>
</body>